.App{

}
.App-logo{

}
@media(prefers-reduced-motion:no-preference){
  
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(240, 188, 120);
}
.site-content {
  flex: 1;
}
.site-footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}
